{% extends 'Layout/modal.html.twig' %}

{% import "Layout/modal.html.twig" as modal %}

{# Quand le formulaire est pas envoyé, on surcharge le contenu complet #}
{% block modalContent %}
    {% if formSended == false or hasError %}
        <div class="modal-content">
            <form action="{{ path('users.password.lost') }}" method="post">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Mot de passe perdu</h4></div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label required" for="email">Votre e-mail</label>
                        <input type="text" id="email" name="email" required="required" class="form-control">
                    </div>
                    {% if hasError %}
                        <p class="text-danger">E-mail introuvable</p>
                    {% endif %}
                </div>
                <div class="modal-footer"><button type="submit" class="btn btn-primary">Valider</button></div>
            </form>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{# Quand le formulaire est envoyé, on utilise les blocs simples #}
{% block title %}Mot de passe perdu{% endblock %}
{% block content %}<p>Vous allez recevoir dans votre boite de messagerie le lien de récupération de votre mot de passe.</p>{% endblock %}
{% block footer %}{{ modal.closeButton('Fermer') }}{% endblock %}
