{% extends 'Layout/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="widget-title">
                    <h4>Création d'un nouveau mot de passe</h4>
                    <hr>
                </div>
                {{ form_start(form) }}
                {{ form_row(form.plainPassword.first, {label: 'Nouveau mot de passe'}) }}
                {{ form_row(form.plainPassword.second, {label: 'Confirmation'}) }}
                <button type="submit" class="btn btn-primary">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
