<p>
    Bonjour,<br /><br />
    veuillez cliquer sur ce lien pour créer un nouveau mot de passe:
    <a target="_blank" href="{{ url('users.password.reset', {hash: user.passwordRecoveryHash}) }}">{{ url('users.password.reset', {hash: user.passwordRecoveryHash}) }}</a>
</p>

<p>A bientôt !</p>
